body{
  padding: 2em;
}
.head{
  text-align: center;
  background-color: #212529;
  color: #ffffff;
  border: 2px solid #212529;
  margin-bottom: 2em;
}
.wrappers{
  width: 50em;
  margin: 0 auto;
  margin-top: 8em
}
.poll,.lga, .update{
  text-align: center;
  border: 2px solid #960238;
  background-color: #960238;
  margin-bottom: 2em;
  height: 3em
}
a{
  color: white !important;
}
.qhead{
  text-align: center;
  background-color:#960238;
   height:50px; padding-bottom:75px;
   padding-left:75px;
}
.qhead>h1{
  color:white; cursor:pointer;
}